.git
.gitignore
.env
.env.*
.DS_Store
.vscode
__pycache__/
*.py[cod]
env/
venv/
.venv/
ENV/
.mypy_cache/
.ruff_cache/
.pytest_cache/
route/scripts/*.txt
*.log
Dockerfile
compose.yaml
docker-compose.yml
